.anchor {
  position: relative;
}

.anchor:hover > .anchorLine {
  width: 100%;
  height: 2px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.anchor:hover .anchorLine div {
  background-color: var(--main-white);
  border-radius: 0px 0px 10px 10px;
  width: 50%;
  height: 1px;
  animation: under-line-anim;
  animation-duration: 1s;
}

.anchor:hover .anchorLine div:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}

:hover .anchorLine div:nth-child(2) {
  border-radius: 0px 10px 10px 0px;
}

@keyframes under-line-anim {
  from {
    width: 0;
    height: 1px;
  }

  to {
    width: 50%;
    height: 1px;
  }
}
